.pageNotFound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fafafa;
  }
  
  .pageNotFound h1 {
    font-size: 3rem;
    color: #333;
    margin-bottom: 1rem;
  }
  
  .pageNotFound p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 2rem;
  }
  
  .link {
    font-size: 1.2rem;
    color: #3f51b5;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .link:hover {
    color: #303f9f;
  }